@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,900&display=swap');
 :root{
    --text-orange-color:#F17228;
    --text-yellow-color:#FFB30E;
    --white:#FFF;
    --primary-font-family:"Poppins";
    --secondary-font-family:"Inter";
 }
 h2,h5{
    margin: 0;
 }
 .navbar-toggler{
   border:none;
 }
 .navbar-toggler:hover{
   color: var(--text-yellow-color);
 }
 .navbar {
   font-family: var(--primary-font-family);
   background-color: var(--white);
 }
 .navbar-brand span {
   font-size: 18px;
 }
 .navbar-brand span:first-of-type {
   color: var(--text-orange-color);
 }
 .navbar-brand span:last-of-type {
   color: var(--text-yellow-color);
 }
 .nav-link {
   font-size: 14px;
 }
 .nav-item a{
  color:#212121;
 }
 .nav-item a:hover{
  color:var(--text-yellow-color)
 }
 .navbar-nav .nav-link.active{
  color:var(--text-orange-color)
 }
 .text-color {
   color: #424242;
   font-size: 12px;
 }
 .btn-color {
   background-image: linear-gradient(to right, #ffb800, #ff8a00);
   background-clip: text;
   color: transparent;
   box-shadow: 0px 0px 5px 0px #ffb80061;
   font-size: 12px;
 }
 .navbar-toggler {
   height: 30px;
 }
 .navbar-toggler-icon {
   width: 20px;
   height: 20px;
 }